<?php

require_once("$CFG->dirroot/blocks/ilp/classes/forms/batch_print_setup_mform.php");

$mform=new batch_print_setup_mform($baseurl,array('course_id'=>optional_param('course_id',0,PARAM_INT),
                                                  'tutor'=>optional_param('tutor',0,PARAM_INT),
                                                  'group_id'=>optional_param('group_id',0,PARAM_INT),
                                                  'status_id'=>optional_param('status_id',0,PARAM_INT)));

if($mform->is_cancelled())
{
   redirect($CFG->wwwroot);
}
elseif($data=$mform->get_data())
{
   print_object($data);
}

print $OUTPUT->header();

$mform->display();

print $OUTPUT->footer();
