<?php
echo $OUTPUT->header();
?>
<div class="ilp">
<?php
echo $OUTPUT->heading(get_string('reportconfiguration','block_ilp')); 
?>
<div class="desciptivetext"><?php echo get_string('reportconfigurationdesc','block_ilp');?></div>
<div class="pagelinks formsconfig">
    <span id="leftlinks">
        <a class="buttonlink" href="<?php echo $CFG->wwwroot."/blocks/ilp/actions/edit_report.php"; ?>"><?php echo get_string('createnewreport','block_ilp');?></a></div>
    </span>
</div>
<fieldset id="reportfieldset" class="clearfix ilpfieldset">
<legend class="ftoggler"><?php echo get_string('reports','block_ilp');?></legend>

<?php
require_once($CFG->dirroot.'/blocks/ilp/actions/view_reports_table.php');

?>
</fieldset>

<?php
echo $OUTPUT->footer();
?>