<?php
echo $OUTPUT->header();
?>
<div class="ilp">
<?php 
echo $OUTPUT->heading(get_string('reportfields', 'block_ilp'));

$promptmform->display();
?>


<fieldset id="ilpreportfieldset" class="clearfix ilpfieldset">
<legend class="ftoggler"><?php echo get_string('preview','block_ilp');?></legend>
<?php
require_once($CFG->dirroot.'/blocks/ilp/actions/view_reportfields_table.php');
?>
</fieldset>
<div><a href="<?php echo $previewreporturl; ?>" class="button"><?php echo get_string("viewreportpreview","block_ilp");?></a></div>

</div>
<?php
echo $OUTPUT->footer();
?>