<?php

ob_start();
// Call the display function
$template->display_template($user_id,$course_id);
$template_html = ob_get_clean();

echo $OUTPUT->header();

$jsmodule = array(
'name'     	=> 'ilp_standard_functions',
'fullpath' 	=> '/blocks/ilp/views/js/lib.js',
'requires'  	=> array('event','dom','node','io-form')
);

$PAGE->requires->js_init_call('M.ilp_standard_functions.init', null, true, $jsmodule);



?>
<div class="ilp">
<?php
echo $template_html;
?>
</div>
<?php
echo $OUTPUT->footer();
?>
